* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-size: 16px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.attribution {
  margin-top: auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dashboard__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 300px) 15px minmax(200px, 300px) 15px minmax(200px, 300px);
  grid-template-columns: repeat(3, minmax(200px, 300px));
  gap: 15px;
}
.dashboard__item {
  background-color: rgb(104, 91, 91);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}